<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt doloremque nisi officiis cupiditate magnam.
    Quisquam iusto molestiae odit sit, esse reiciendis itaque totam, blanditiis ex autem eius, atque dicta ut ea. Quas
    perspiciatis deleniti nesciunt earum quod, dignissimos sit voluptatibus id modi.</p>
<p>Iusto velit ducimus consectetur ex earum repellat architecto beatae nostrum perferendis, consequatur voluptas
    voluptatem, obcaecati enim dolore asperiores repellendus quos aliquid libero delectus atque porro temporibus
    molestias eveniet dolorem. Recusandae, architecto? Magni, expedita.</p>
<p> Impedit sed ducimus, doloribus aspernatur unde eveniet, velit vitae laborum, maiores assumenda corporis illo
    ratione! Alias magni, aut tempore non repellendus voluptate nobis earum fugit sapiente dolorem repudiandae velit
    obcaecati maxime, temporibus in odio veritatis. Quos maiores placeat tenetur accusamus, fugit sapiente repudiandae
    ab. Illum iure molestiae in blanditiis rem consequatur, ratione inventore sint molestias quos velit beatae dolor
    deleniti labore error. Mollitia, excepturi qui iste consectetur enim, molestias eligendi ipsum aliquam nobis facilis
    eveniet.</p>

Post::create([
'title' => 'Judul Kedua',
'category_id' => 2,
'slug' => 'judul-kedua',
'excerpt' => 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt doloremque nisi officiis cupiditate
magnam. Quisquam iusto molestiae odit sit, esse reiciendis itaque totam,',
'body' => '<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt doloremque nisi officiis cupiditate
    magnam. Quisquam iusto molestiae odit sit, esse reiciendis itaque totam, blanditiis ex autem eius, atque dicta ut
    ea. Quas perspiciatis deleniti nesciunt earum quod, dignissimos sit voluptatibus id modi.</p>
<p>Iusto velit ducimus consectetur ex earum repellat architecto beatae nostrum perferendis, consequatur voluptas
    voluptatem, obcaecati enim dolore asperiores repellendus quos aliquid libero delectus atque porro temporibus
    molestias eveniet dolorem. Recusandae, architecto? Magni, expedita.</p>
<p> Impedit sed ducimus, doloribus aspernatur unde eveniet, velit vitae laborum, maiores assumenda corporis illo
    ratione! Alias magni, aut tempore non repellendus voluptate nobis earum fugit sapiente dolorem repudiandae velit
    obcaecati maxime, temporibus in odio veritatis. Quos maiores placeat tenetur accusamus, fugit sapiente repudiandae
    ab. Illum iure molestiae in blanditiis rem consequatur, ratione inventore sint molestias quos velit beatae dolor
    deleniti labore error. Mollitia, excepturi qui iste consectetur enim, molestias eligendi ipsum aliquam nobis facilis
    eveniet.</p>'
])

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio non libero, fugit velit deserunt nihil voluptates
excepturi sequi aperiam vitae eius dignissimos soluta amet ut! Impedit molestiae tenetur ex expedita neque dolore modi
deserunt alias pariatur maiores, consequuntur repellendus reiciendis quaerat at ipsum obcaecati animi eligendi
doloremque soluta consequatur optio officia dolores sequi! Quia commodi accusamus voluptatum debitis impedit, voluptates
inventore, quisquam suscipit incidunt numquam ipsam iure laborum quae temporibus voluptatibus similique obcaecati vitae
corporis dolore non quibusdam hic consequuntur nesciunt. Suscipit doloribus, nihil sint quidem, at numquam vel est vero
corporis autem necessitatibus voluptas aperiam omnis magni magnam odio exercitationem, harum impedit provident labore
nobis. Ipsum vero quos impedit quia beatae? Vel reiciendis omnis ut ullam enim exercitationem quo eaque, quam corporis
quas molestias atque et explicabo veniam deleniti libero fuga, modi dolore? Ipsa dolores porro omnis quasi explicabo?
Et, natus autem. Nostrum reiciendis eum cum consequatur magni consequuntur.
